.wrap {
 width: 800px;   
}
#big_picture {
  width: 800px;
    height: 533px;
    background: #666;        
}

.image__big {
    width: 800px;
    
}

.gallery__small:not(:last-child) {
    margin-right: 10px;
    
}
.gallery__small{
    margin: 5px;
    border: 3px solid #FFF;     
}

#gallery {
    display: flex;
    justify-content: center;
    background: lightgrey;
}